{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <h1>All my devices</h1>
    <div class="container">
    <div class="row">
            {% for onedevice in devices %}
            <a class="list-unstyled text-decoration-none d-flex flex-wrap-wrap" href="{{ path('device_show', {'id': onedevice.id}) }}">
                <div class="card w-25 p-3">
                    <h3 class="card-header">{{ onedevice.type.name }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">{{ onedevice.name }}</h5>
                    </div>
                    {% if onedevice.picture is not null %}
                    <img src="{{ asset(onedevice.picture) }}" alt="devicePic">
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">State:
                            {# {% if onedevice.state == constant('App\\Entity\\Device::DEVICE_STATE_OK') %} #}
                            <td><span class="badge bg-success">{{ onedevice.state }}</span></td>
                            {# {% else %}
                            <span class="badge bg-danger">{{ onedevice.state }}</span>
                            {% endif %} #}
                        </li>
                        <li class="list-group-item">Last calculated value :</li>
                    </ul>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('device_new') }}">Add a new device</a>
{% endblock %}
